:root {
  --light-grey: #e4e4e4;
  --medium-grey: #a4a4a4;
  --grey: #5c5c5c;
  --yellow: #ffcc2f;
  --orange: #ef5734;
  --green: #2188b6;
  --white: #fff;
  --black: #000;
  --brown: #453f3c;

  --blue: #2188b6;
  --blue-light: #339ecf;
  --white30: #ffffff54;
  --white20: #ffffff24;
}
